
/* expandcards.module.css */

* {
  box-sizing: border-box;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.container {
  height: 400px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.card {
  width: 80px;
  border-radius: 2.5rem;
  border: #202020 solid 1px;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  margin: 0 5px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(77, 76, 76, 0.8);
}

.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.icon {
  background: rgb(54, 53, 53);
  color: rgb(252, 250, 250);
  font-weight: 600;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 400px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  
}

.description h5 {
  margin-bottom: -12px; /* Reduce space below the heading */
}

.description a {
  color: #939394  !important;
  text-shadow: 0 0 1px #939394; 
  margin-top: 0;  /* Remove any space above the paragraph */
  text-decoration: underline;
}


.input {
  display: none;
}

.input:checked + label {
  width: 450px;
}

.input:checked + label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}




/*
 * {
    box-sizing: border-box;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eeeeea;
}

.wrapper {
    width:100% ;
    height: 100%vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container  {
   height: 400px;
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99 ) ;
    box-shadow: 0px 10px 30px -5 rgba(0,0,0,0.8);
}

.card > .row {
    color : white;
    display: flex;
flex-wrap: nowrap;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column ;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p{
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

.input {
    display: none;
}

input:checked +label {
width: 600px;
}

input:checked +.description{
 opacity: 1 !important;
    transform: translateY(0) !important;
    }

    .card [htmlFor='c1'] {
        background-image: url('../assets/images/PlayerPosts/AllState.png');
    }

    .card [htmlFor='c2'] {
        background-image: url('../assets/images/PlayerPosts/Big26.png');
    }
    
    .card [htmlFor='c3'] {
        background-image: url('../assets/images/PlayerPosts/Doubles.png');
    }
    
    .card [htmlFor='c4'] {
        background-image: url('../assets/images/PlayerPosts/HR.png');
    }
    
    .card [htmlFor='c5'] {
        background-image: url('../assets/images/PlayerPosts/Mid.png');
    }
   
    .card [htmlFor='c6'] {
        background-image: url('../assets/images/PlayerPosts/MVP.png');
    }
        */